src/main/java/org/nameapi/client/services/formatter/personnameformatter/wsdl/personnameformatter.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/" name="SoapPersonNameFormatterService">
<types>
<xsd:schema>
<xsd:import namespace="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/" schemaLocation="http://api.nameapi.org:80/soap/v4.0/formatter/personnameformatter?xsd=1"/>
</xsd:schema>
</types>
<message name="format">
<part name="parameters" element="tns:format"/>
</message>
<message name="formatResponse">
<part name="parameters" element="tns:formatResponse"/>
</message>
<message name="AccessDeniedWebServiceException">
<part name="fault" element="tns:AccessDeniedWebServiceException"/>
</message>
<message name="InvalidInputWebServiceException">
<part name="fault" element="tns:InvalidInputWebServiceException"/>
</message>
<message name="InternalServerErrorWebServiceException">
<part name="fault" element="tns:InternalWebServiceException"/>
</message>
<portType name="SoapPersonNameFormatter">
<operation name="format">
<input wsam:Action="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/SoapPersonNameFormatter/formatRequest" message="tns:format"/>
<output wsam:Action="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/SoapPersonNameFormatter/formatResponse" message="tns:formatResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/SoapPersonNameFormatter/format/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/SoapPersonNameFormatter/format/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://personnameformatter.formatter.services.v4_0.soap.server.nameapi.org/SoapPersonNameFormatter/format/Fault/InternalServerErrorWebServiceException"/>
</operation>
</portType>
<binding name="SoapPersonNameFormatterPortBinding" type="tns:SoapPersonNameFormatter">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="format">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SoapPersonNameFormatterService">
<port name="SoapPersonNameFormatterPort" binding="tns:SoapPersonNameFormatterPortBinding">
<soap:address location="http://api.nameapi.org:80/soap/v4.0/formatter/personnameformatter"/>
</port>
</service>
</definitions>