src/main/java/org/nameapi/client/services/email/emaildomaintypeclassifier/wsdl/emaildomaintypeclassifier.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/" name="SoapEmailDomainTypeClassifierService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/" schemaLocation="http://api.nameapi.org:80/soap/v4.0/email/emaildomaintypeclassifier?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="price">
        <part name="parameters" element="tns:price"/>
    </message>
    <message name="priceResponse">
        <part name="parameters" element="tns:priceResponse"/>
    </message>
    <message name="classify">
        <part name="parameters" element="tns:classify"/>
    </message>
    <message name="classifyResponse">
        <part name="parameters" element="tns:classifyResponse"/>
    </message>
    <message name="AccessDeniedWebServiceException">
        <part name="fault" element="tns:AccessDeniedWebServiceException"/>
    </message>
    <message name="InvalidInputWebServiceException">
        <part name="fault" element="tns:InvalidInputWebServiceException"/>
    </message>
    <message name="InternalServerErrorWebServiceException">
        <part name="fault" element="tns:InternalServerErrorWebServiceException"/>
    </message>
    <portType name="SoapEmailDomainTypeClassifier">
        <operation name="price">
            <input wsam:Action="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/SoapEmailDomainTypeClassifier/priceRequest" message="tns:price"/>
            <output wsam:Action="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/SoapEmailDomainTypeClassifier/priceResponse" message="tns:priceResponse"/>
        </operation>
        <operation name="classify">
            <input wsam:Action="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/SoapEmailDomainTypeClassifier/classifyRequest" message="tns:classify"/>
            <output wsam:Action="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/SoapEmailDomainTypeClassifier/classifyResponse" message="tns:classifyResponse"/>
            <fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/SoapEmailDomainTypeClassifier/classify/Fault/AccessDeniedWebServiceException"/>
            <fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/SoapEmailDomainTypeClassifier/classify/Fault/InvalidInputWebServiceException"/>
            <fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://emaildomaintypeclassifier.email.services.v4_0.soap.server.nameapi.org/SoapEmailDomainTypeClassifier/classify/Fault/InternalServerErrorWebServiceException"/>
        </operation>
    </portType>
    <binding name="SoapEmailDomainTypeClassifierPortBinding" type="tns:SoapEmailDomainTypeClassifier">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="price">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="classify">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedWebServiceException">
                <soap:fault name="AccessDeniedWebServiceException" use="literal"/>
            </fault>
            <fault name="InvalidInputWebServiceException">
                <soap:fault name="InvalidInputWebServiceException" use="literal"/>
            </fault>
            <fault name="InternalServerErrorWebServiceException">
                <soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SoapEmailDomainTypeClassifierService">
        <port name="SoapEmailDomainTypeClassifierPort" binding="tns:SoapEmailDomainTypeClassifierPortBinding">
            <soap:address location="http://api.nameapi.org:80/soap/v4.0/email/emaildomaintypeclassifier"/>
        </port>
    </service>
</definitions>