src/main/java/org/nameapi/client/services/parser/personnameparser/wsdl/personnameparser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/" name="SoapPersonNameParserService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/" schemaLocation="http://api.nameapi.org:80/soap/v4.0/parser/personnameparser?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="parse">
        <part name="parameters" element="tns:parse"/>
    </message>
    <message name="parseResponse">
        <part name="parameters" element="tns:parseResponse"/>
    </message>
    <message name="AccessDeniedWebServiceException">
        <part name="fault" element="tns:AccessDeniedWebServiceException"/>
    </message>
    <message name="InvalidInputWebServiceException">
        <part name="fault" element="tns:InvalidInputWebServiceException"/>
    </message>
    <message name="InternalServerErrorWebServiceException">
        <part name="fault" element="tns:InternalServerErrorWebServiceException"/>
    </message>
    <portType name="SoapPersonNameParser">
        <operation name="parse">
            <input wsam:Action="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/SoapPersonNameParser/parseRequest" message="tns:parse"/>
            <output wsam:Action="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/SoapPersonNameParser/parseResponse" message="tns:parseResponse"/>
            <fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/SoapPersonNameParser/parse/Fault/AccessDeniedWebServiceException"/>
            <fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/SoapPersonNameParser/parse/Fault/InvalidInputWebServiceException"/>
            <fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://personnameparser.parser.services.v4_0.soap.server.nameapi.org/SoapPersonNameParser/parse/Fault/InternalServerErrorWebServiceException"/>
        </operation>
    </portType>
    <binding name="SoapPersonNameParserPortBinding" type="tns:SoapPersonNameParser">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="parse">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedWebServiceException">
                <soap:fault name="AccessDeniedWebServiceException" use="literal"/>
            </fault>
            <fault name="InvalidInputWebServiceException">
                <soap:fault name="InvalidInputWebServiceException" use="literal"/>
            </fault>
            <fault name="InternalServerErrorWebServiceException">
                <soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SoapPersonNameParserService">
        <port name="SoapPersonNameParserPort" binding="tns:SoapPersonNameParserPortBinding">
            <soap:address location="http://api.nameapi.org:80/soap/v4.0/parser/personnameparser"/>
        </port>
    </service>
</definitions>