src/main/java/org/nameapi/client/services/validator/randomtyping/textfieldrandomtypingdetector/wsdl/textfield.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b05 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/" name="SoapTextFieldRandomTypingDetectorService">
<types>
<xsd:schema>
<xsd:import namespace="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/" schemaLocation="http://api.nameapi.org:80/soap/v4.0/validator/randomtypingdetector/textfield?xsd=1"/>
</xsd:schema>
</types>
<message name="check">
<part name="parameters" element="tns:check"/>
</message>
<message name="checkResponse">
<part name="parameters" element="tns:checkResponse"/>
</message>
<message name="AccessDeniedWebServiceException">
<part name="fault" element="tns:AccessDeniedWebServiceException"/>
</message>
<message name="InvalidInputWebServiceException">
<part name="fault" element="tns:InvalidInputWebServiceException"/>
</message>
<message name="InternalServerErrorWebServiceException">
<part name="fault" element="tns:InternalServerErrorWebServiceException"/>
</message>
<message name="price">
<part name="parameters" element="tns:price"/>
</message>
<message name="priceResponse">
<part name="parameters" element="tns:priceResponse"/>
</message>
<portType name="SoapTextFieldRandomTypingDetector">
<operation name="check">
<input wsam:Action="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/SoapTextFieldRandomTypingDetector/checkRequest" message="tns:check"/>
<output wsam:Action="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/SoapTextFieldRandomTypingDetector/checkResponse" message="tns:checkResponse"/>
<fault message="tns:AccessDeniedWebServiceException" name="AccessDeniedWebServiceException" wsam:Action="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/SoapTextFieldRandomTypingDetector/check/Fault/AccessDeniedWebServiceException"/>
<fault message="tns:InvalidInputWebServiceException" name="InvalidInputWebServiceException" wsam:Action="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/SoapTextFieldRandomTypingDetector/check/Fault/InvalidInputWebServiceException"/>
<fault message="tns:InternalServerErrorWebServiceException" name="InternalServerErrorWebServiceException" wsam:Action="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/SoapTextFieldRandomTypingDetector/check/Fault/InternalServerErrorWebServiceException"/>
</operation>
<operation name="price">
<input wsam:Action="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/SoapTextFieldRandomTypingDetector/priceRequest" message="tns:price"/>
<output wsam:Action="http://randomtyping.validator.services.v4_0.soap.server.nameapi.org/SoapTextFieldRandomTypingDetector/priceResponse" message="tns:priceResponse"/>
</operation>
</portType>
<binding name="SoapTextFieldRandomTypingDetectorPortBinding" type="tns:SoapTextFieldRandomTypingDetector">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="check">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AccessDeniedWebServiceException">
<soap:fault name="AccessDeniedWebServiceException" use="literal"/>
</fault>
<fault name="InvalidInputWebServiceException">
<soap:fault name="InvalidInputWebServiceException" use="literal"/>
</fault>
<fault name="InternalServerErrorWebServiceException">
<soap:fault name="InternalServerErrorWebServiceException" use="literal"/>
</fault>
</operation>
<operation name="price">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SoapTextFieldRandomTypingDetectorService">
<port name="SoapTextFieldRandomTypingDetectorPort" binding="tns:SoapTextFieldRandomTypingDetectorPortBinding">
<soap:address location="http://api.nameapi.org:80/soap/v4.0/validator/randomtypingdetector/textfield"/>
</port>
</service>
</definitions>